body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 60px; /* Increased gap for more space between words */
}

.word {
    text-decoration: none;
    color: black;
    font-size: 48px; /* Increased font size */
    position: relative;
    padding: 10px;
}

.word::before,
.word::after {
    content: '🦋';
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.word::before {
    left: -40px; /* Adjusted position */
}

.word::after {
    right: -40px; /* Adjusted position */
}

.word:hover::before,
.word:hover::after {
    opacity: 1;
}

#text {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


